// Custom styling on top of discourse-mint

@font-face {
  font-family: "OpenSans-Light";
  src: url($open-sans-light) format("ttf");
}

@font-face {
  font-family: "Alte-DIN-1451-Mittelschrift";
  src: url("../assets/fonts/Alte-DIN-1451-Mittelschrift.ttf.woff") format("woff");
}

$font-open-sans: "Open Sans", sans-serif;
$font-mittelschrift: "Alte-DIN-1451-Mittelschrift", sans-serif;


:root {
  font-family: $font-open-sans;
}

h1, h2, h3, h4 {
  font-family: $font-mittelschrift;
}
