#main-outlet-wrapper {
  .sidebar-wrapper {
    --d-sidebar-highlight-color: var(--tertiary-low);

    background-color: var(--secondary);
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, 0.1),
      0 12px 90px 0 rgba(133, 255, 103, 0.1);
  }
}
