@mixin mint-card-bg {
  background: var(--primary-very-low);

  @media (prefers-color-scheme: light) {
    background: var(--header_background);
  }
}

:root {
  --mint-border-radius: 0px;
  --mint-hover-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  --mint-color-mint: #b8ff9d;
  --mint-color-surface: #1b1b1b;
}
