@mixin border-radius {
  border-radius: 10px;
}

$color-white: #ffffff;
$color-black: #000000;
$color-box-shadow: #65a797;
$color-mint: #090F4F;
$color-blue: #BACBF4;
$color-square-gradient: linear-gradient(4deg, rgba(53, 116, 227,.29) 55%, rgba(186, 203, 244, 0.08) 100%);
$color-square-webkit-gradient: -webkit-linear-gradient(4deg, rgba(53, 116, 227,.29) 55%, rgba(186, 203, 244, 0.08) 100%);
