{{#if searchBannerInstalled}}
  <div class="search-banner">
    <SearchBanner />
  </div>
{{/if}}

{{#if showcasedCategoriesInstalled}}
  <TwoTopicList />
{{/if}}
helper.attach("button", {
  label: "log_in",
  className: "btn-primary btn-small login-button",
  action: "showLogin",
  icon: "user"
})
