@import "variables";

body:not(.navigation-categories):not(.navigation-topics) #main-outlet {
  border-radius: var(--mint-border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  padding: 2em;
  @include mint-card-bg;
  border-top: 2px solid $tertiary;
  margin-top: 0.8em;
}

.boxed {
  &.white {
    @include mint-card-bg;
  }
}
